<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="articles" itemscope itemtype="http://schema.org/WebPage">

{% include _browser-upgrade.html %}

      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio-en.html %}
        </div>
      </footer>

{% include _navigation-en.html %}

<div class="article-author-side" style="margin-top:20px;">
  {% include _author-bio-en.html %}
</div>


<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

  Electronic Engineer and Software Developer, DevOp, IT professional.

  <h1>Working Projects:</h1>

  {% for post in site.posts %}  
          {% if post.tags contains 'project' or post.categories contains 'project' %}
            <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                            {{ post.title }}</a></h2>
              <p class="maindescription" itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </article>
          {% endif %}
  {% endfor %}

  <h1>Software Development Experience:</h1>

  {% for post in site.posts %}  
          {% if post.tags contains 'experience' or post.categories contains 'experience' %}
            <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                    </br>
                            {{ post.title }}</a></h2>
              <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </article>
          {% endif %}
  {% endfor %}


  <h1>Dictated Courses:</h1>

  {% for post in site.posts %}  
          {% if post.tags contains 'courses' or post.categories contains 'courses' %}
            <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                            {{ post.title }}</a></h2>
              <p class="maindescription"  itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </article>
          {% endif %}
  {% endfor %}


  <h1>Media Production:</h1>

  {% for post in site.posts %}  
          {% if post.tags contains 'multimedia' or post.categories contains 'multimedia' %}
            <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                            {{ post.title }}</a></h2>
              <p class="maindescription"  itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </article>
          {% endif %}
  {% endfor %}





</div><!-- /#index -->


{% include _scripts.html %}
 
<div class="footer-wrap">
  <footer>
    {% include _footer-en.html %}
  </footer>
</div><!-- /.footer-wrap -->


 
</body>
</html>
